/* You can add global styles to this file, and also import other style files */
.ui-datatable table {
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
}
.totales{
    background-color: #d7d7da;
    text-align:center;
}

.subtotales {
    background-color: #d7d7da !important;
}

.colum-orange {
    background-color: #fdb776 !important;
}
.colum-olive {
    color: white;
    background-color: olive !important;
}
.colum-yellow {
    background-color: #f6fbaa !important;
}

.ui-inputswitch.ui-inputswitch-checked {
    background-color: #4CAF50 !important;
    border-color: #4CAF50 !important;
}
.ui-inputswitch.ui-inputswitch-checked .ui-inputswitch-handle {
    background-color: #318234 !important;
    color: #ffffff !important;
}