boton-periodo {
.altoPeriodo{
    height: 4vw;
    background-color: #424040;
    color: white;
    font-family: 'Hammer', sans-serif;
    font-size: 2.5vw;
    width: 4.5vw;
    text-shadow: 1px 2px #424141;
    text-transform: uppercase;
}
}
