cronometro {

.time{
    font-size: 20vw;
    text-align:center;
    font-family:'Conv_digital-7',Sans-Serif;

}

.tiempo{
    font-size: 7vw;
    font-family:'Conv_digital-7',Sans-Serif;
    padding: 0 !important;

}
.marcador{
    font-size: 8vw;
    text-align:center;
    font-family:'Conv_digital-7',Sans-Serif;

}
.lapso{
    font-size: 20px;
    margin: 20px;
    font-family: monospace;
}
}
