
<div class="card login-panel ui-fluid">
    <div class="ui-g">
        <div class="ui-g-12">
            <img src="assets/erpHammer/images/hammerLogoV.png" width="120">
        </div>
        <form class="form-login" [formGroup]="loginForm" (ngSubmit)="doLogin($event)">
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input type="text" pInputText formControlName="userName" class="form-control" />
                    <label>Usuario</label>
                </span>
            </div>
            <div class="ui-g-12">
                <span class="md-inputfield">
                    <input pPassword type="password" formControlName="password" class="form-control" [feedback]="false"/>
                    <label>Contraseña</label>
                </span>
            </div>
            <div class="ui-g-12">
                <button class="ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left" [routerLink]="['/master']">
                    <!--[routerLink]="['/master']"-->
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-person"></span>
                    <span class="ui-button-text ui-c">Entrar</span>
                </button>
                <!-- <button type="button" class="secondary ui-button ui-widget ui-state-default ui-corner-all ui-button-text-icon-left">
                    <span class="ui-button-icon-left ui-c fa fa-fw ui-icon-help"></span>
                    <span class="ui-button-text ui-c">Registrarse</span>
                </button> -->
            </div>
        </form>
    </div>
    <p-messages [value]="msgs"></p-messages>
</div>
